a {
  text-decoration: none;
}

h4 {
  margin-bottom: 0;
}

li {
  white-space: nowrap;
}

.course-tr {
  height: 48px;
}
.subject-btn {
  padding: 0.125rem 0.25rem !important;
  font-size: 0.75rem;
  border-radius: 0.3rem;
}

.xs {
  font-size: 0.75rem;
}

.breadcrumb-nav {
  --bs-breadcrumb-divider: ">";
}

.list-group-item {
  border: none;
}

.list-group-item-link {
  padding-top: 14px;
}

/* Override settings from libraries */
.filter-option {
  text-align: right !important;
}

.btn-outline-danger {
  padding: 0rem 0.5rem 0.2rem 0.5rem;
}
.btn-outline-secondary {
  padding: 0rem 0.5rem 0.2rem 0.5rem;
}
.btn-outline-success {
  padding: 0rem 0.5rem 0.2rem 0.5rem;
}

table.dataTable tr.dtrg-group th {
  text-align: right !important;
  background-color: #e7e7e7 !important;
  font-size: 0.8rem;
}

#myTable_filter {
  float: left;
}

#myTable_paginate {
  float: left;
}

#myTable_length {
  display: none;
}
