<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Fly</title>
        {% endif %}
    </head>
    <body>
        <div>
            Fly:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
        <hr>
        Fly is, and will forever be, 100% free and open source. Contribute on <a href="https://github.com/Cyanivde/fly">GitHub</a>
    </body>
</html>

