{% extends "base.html" %}



{% block content %}
  <b><a style="text-decoration:none" href="{{ url_for('course', course_id=course.id) }}">{{ course.name }}</a></b>
  {% if current_user.username in admins %}
  <span style="padding-right: 15px">
<a style="text-decoration:none" href="{{ url_for('upload', course_id=course.id) }}">העלאת חומר</a></span>
<span style="padding-right: 15px"><a style="text-decoration:none" href="{{ url_for('updatecourse', course_id=course.id) }}">ערוך קורס</a>
  </span>
  {%endif%}
    <hr />

    <div class="overflow-auto">    
      <form class="d-flex" method="post" >

    <table class="table w-auto col-auto small">
        
        <thead>
            <tr class="align-middle">            
            <td style="text-align:center" colspan="2">חומר לימוד</td>
            <td><div class="input-group">
                    <select name="subject" class="selectpicker" multiple data-actions-box="true" data-style="" data-style-base="form-control" data-none-results-text="אין תוצאות עבור {0}" data-live-search="true" data-width="200px" data-none-selected-text="בחירת נושאים" data-select-all-text="בחר הכל" data-deselect-all-text="איפוס" data-selected-text-format="static">
                        {% for subject in subjects %}
                        <option id="subj-{{subject}}" {% if subject in filtered_subjects %} selected {% endif %}>{{ subject }}</option>
                        {% endfor %}
                      </select><button class="btn btn-outline-success" type="submit">סינון</button>
                    </div></td>
            <td>
                <div class="input-group">
                <input name="query" class="form-control" type="search" value="{% if current_search %}{{current_search}}{% else %}{%endif%}" placeholder="חיפוש בגוף הטקסט" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">חיפוש</button>
                </div>
              </td>
              <td style="text-align:center">מעקב</td>

              {% if current_user.username in admins %}<td style="text-align:center"></td>{%endif%}
        </tr></thead>
      {% for directory in resources.keys() %}
      <tr style="font-size:10px">
        <td colspan="7" style="padding-top:15px;">
          <b>{{directory}}</b>
        </td>
      </td>
      {% for existing_resource in resources[directory].iterrows() %}
      <tr {%if existing_resource[1].show == False %}style="display:none"{%endif%}>
          
          <td colspan="2"><a class="text-decoration-none" target="_blank" href="{{ existing_resource[1].link }}">{{ existing_resource[1].description }}</a>
          {% if  existing_resource[1].specification%} / <a  target="_blank" class="text-decoration-none" href="{{ existing_resource[1].specification }}">פתרון</a>  {%endif%}</td>
          <td>
          {% for subj in existing_resource[1].subject %}
          {%if subj in filtered_subjects %}
          <button type="button" class="btn btn-primary" style="padding: 0.125rem 0.25rem;font-size: 0.75rem;border-radius: 0.3rem;" onClick="document.getElementById('subj-{{subj}}').selected = false; this.form.submit();">{{ subj }}</button>
          {% else %}
          <button type="button" class="btn btn-outline-primary" style="padding: 0.125rem 0.25rem;font-size: 0.75rem;border-radius: 0.3rem;" onClick="document.getElementById('subj-{{subj}}').selected = true; this.form.submit();">{{ subj }}</button>
          {% endif%}
              {% endfor %}
          </td>
          <td>{% if existing_resource[1].occurrences %}
              {{ existing_resource[1].occurrences }} התאמות {%endif%}</td>
              <td>
                <div {% if not current_user.is_authenticated %}tabindex="0" data-bs-toggle="tooltip" title="לסימון, הירשמו למערכת"{%endif%} class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input onchange="updateRadio({{existing_resource[1].resource_id}}, 0);" type="radio" class="btn-check" name="btnradio-{{existing_resource[1].name}}" id="btnradio1-{{existing_resource[1].resource_id}}" value="0" autocomplete="off" {% if (existing_resource[1].done != 1) and (existing_resource[1].done != 2) %}checked{%endif%} {% if not current_user.is_authenticated %}disabled {%endif%}>
                  <label {% if current_user.is_authenticated %}tabindex="0" data-bs-toggle="tooltip" title="איפוס"{%endif%} style="padding: .25rem .5rem" class="btn btn-outline-primary" for="btnradio1-{{existing_resource[1].resource_id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                  </svg></label>{% if current_user.is_authenticated %}</span>{%endif%}
                
                  <input onchange="updateRadio({{existing_resource[1].resource_id}}, 1);" type="radio" class="btn-check" name="btnradio-{{existing_resource[1].name}}" id="btnradio2-{{existing_resource[1].resource_id}}" value="1" autocomplete="off" {% if existing_resource[1].done == 1 %}checked{%endif%} {% if not current_user.is_authenticated %}disabled {%endif%}>
                  <label {% if current_user.is_authenticated %}tabindex="0" data-bs-toggle="tooltip" title="נדרשת חזרה"{%endif%}style="padding: .25rem .5rem" class="btn btn-outline-primary" for="btnradio2-{{existing_resource[1].resource_id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                  </svg></label>{% if current_user.is_authenticated %}</span>{%endif%}
                
                  <input onchange="updateRadio({{existing_resource[1].resource_id}}, 2);" type="radio" class="btn-check" name="btnradio-{{existing_resource[1].name}}" id="btnradio3-{{existing_resource[1].resource_id}}" value="2" autocomplete="off" {% if existing_resource[1].done == 2 %}checked{%endif%} {% if not current_user.is_authenticated %}disabled {%endif%}>
                  <label {% if current_user.is_authenticated %}tabindex="0" data-bs-toggle="tooltip" title="הושלם"{%endif%}style="padding: .25rem .5rem" class="btn btn-outline-primary" for="btnradio3-{{existing_resource[1].resource_id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg></label>{% if current_user.is_authenticated %}</span>{%endif%}
                </div>  
          </td>
          {% if current_user.username in admins %}<td><a class="text-decoration-none" href="{{ url_for('edit',resource_id=existing_resource[1].resource_id, course_id=course.id) }}">עריכה</a></td>{%endif%}
      </tr>
      {% endfor %}
      {%endfor%}


</table>
</form>



</div>


<script type="text/javascript">
  function updateRadio(resource_id, val) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{{ url_for('updateresource')}}", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
        resource_id:resource_id,
        val:val
    }));
  }
  </script>
{%endblock%}

