{% extends "base.html" %}
{% block content %}
    <h4>שכחתי סיסמה</h4>
    <br/>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.usernameemail.label }}
            <br/>
            {{ form.usernameemail(size=30) }}
            <br/>
            {% for error in form.usernameemail.errors %}<span>{{ error }}</span>{% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}<span class="text-success">{{ message }}</span>{% endfor %}
            {% endif %}
        {% endwith %}
    </form>
{% endblock content %}
