{% extends "base.html" %}
{% block content %}
    <div class="header-paragraph">
        <h4 style="margin-bottom: 6px">ברוכים הבאים!</h4>
        StudyBuddy היא פלטפורמה לשיתוף חומרי לימוד אקדמיים, שכולם יכולים לערוך.
        <br/>
        רוצים לקחת חלק? הצטרפו ל<a href="https://chat.whatsapp.com/LwsSaYejPtBJIIvH3RqgEP">קבוצת ה-Whatsapp</a> :)
        <br/>
        <br/>
        <strong>רשימת הקורסים הזמינים במערכת:</strong>
        <ul>
            {% for course in courses %}
                <li>
                    <a href="{{ url_for('course', institute=course.course_institute_english, institute_course_id=course.course_institute_id) }}">[{{ course.course_institute_id }}] {{ course.course_name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div style=" margin-top: 20px"></div>
    </div>
{% endblock content %}
