{% extends "base.html" %}
{% block content %}
    <h4>איפוס סיסמה</h4>
    <br/>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            סיסמה חדשה
            <br/>
            {{ form.password(size=30) }}
            <br/>
            {% for error in form.password.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
        </p>
        <p>
            אימות סיסמה חדשה
            <br/>
            {{ form.password2(size=30) }}
            <br/>
            {% for error in form.password2.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}
