{% extends "base.html" %}
{% block content %}
  {% for res in resource_tuples %}
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('course', course_id=res[2])}}">{{ res[1] }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ res[0] }}</li>
      </ol>
    </nav>
  {% endfor %}
  <hr/>
  <ul>
    <li>
      {% if resource.link != "-" %}<a class="text-decoration-none"
   target="_blank"
   href="{{ resource.link }}">{% endif %}
      קישור
      {% if resource.link != '-' %}</a>{% endif %}
    </li>
    {% if resource.solution %}
      <li>
        <a href="{{ resource.solution }}" target="_blank">פתרון</a>
      </li>
    {% endif %}
    {% if resource.recording %}
      <li>
        <a href="{{ resource.recording }}" target="_blank">הקלטה</a>
      </li>
    {% endif %}
  </ul>
  {% if current_user.is_admin %}
    <hr />
    <a href="{{ url_for('edit', resource_id=resource.id) }}">ערוך חומר</a>
  {% endif %}
  <hr/>
{% endblock content %}
