{% extends "base.html" %}
{% block content %}
  <nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('course', institute=resource.course_institute_english, institute_course_id=resource.course_institute_id)}}">{{ resource.course_name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ resource.display_name }}</li>
    </ol>
  </nav>
  <hr/>
  <ul>
    <li>
      {% if resource.link %}<a class="text-decoration-none"
   target="_blank"
   href="{{ resource.link }}">{% endif %}
      קישור
      {% if resource.link %}</a>{% endif %}
    </li>
    {% if resource.solution %}
      <li>
        <a href="{{ resource.solution }}" target="_blank">פתרון</a>
      </li>
    {% endif %}
    {% if resource.recording %}
      <li>
        <a href="{{ resource.recording }}" target="_blank">הקלטה</a>
      </li>
    {% endif %}
  </ul>
  <hr />
  <a href="{{ url_for('editresource', institute=resource.course_institute_english, institute_course_id=resource.course_institute_id, resource_id=resource.resource_id) }}">ערוך חומר</a>
{% endblock content %}
