{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <span style="color:red">*</span>
            {{ form.semester.label }}
            <br/>
            {{ form.semester() }}
        </p>
        <p>
            <span style="color:red">*</span>
            {{ form.type.label }}
            <br/>
            {{ form.type() }}
        </p>
        <p>
            <span style="color:red">*</span>
            {{ form.display_name.label }}
            <br/>
            {{ form.display_name(size=32) }}
            <br/>
            {% for error in form.display_name.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        <p>
            {{ form.link.label }} (נא להעלות קבצים ל<a target="_blank"
   href="https://technionmail.sharepoint.com/sites/StudyBuddy/Shared%20Documents/">כאן</a>)
            <br/>
            {{ form.link(size=32) }}
            <br/>
            {% for error in form.link.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        <p>
            {{ form.solution.label }} (נא להעלות קבצים ל<a target="_blank"
   href="https://technionmail.sharepoint.com/sites/StudyBuddy/Shared%20Documents/">כאן</a>)
            <br/>
            {{ form.solution(size=32) }}
            <br/>
            {% for error in form.solution.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        <p>
            {{ form.recording.label }}
            <br/>
            {{ form.recording(size=32) }}
            <br/>
            {% for error in form.recording.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        <p>
            {{ form.subject.label }}
            <br/>
            {{ form.subject(size=32) }}
            <br/>
            {% for error in form.subject.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        <p>
            דדליין
            <br/>
            {{ form.deadline_week() }}
            {{ form.deadline_date() }}
        </p>
        <p>{{ form.is_official() }} {{ form.is_official.label }}</p>
        <p>{{ form.is_out_of_date() }} {{ form.is_out_of_date.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <script>
        document.getElementById('display_name').placeholder = "הרצאה 1";
        document.getElementById('deadline_date').style.display = "none";
        document.getElementById("deadline_week").onchange =
            function deadline() {
                var deadlineWeek = document.getElementById("deadline_week");
                if (deadlineWeek.options[deadlineWeek.selectedIndex].value == "exactdate") {
                    document.getElementById('deadline_date').style.display = "inline";
                } else {
                    document.getElementById('deadline_date').style.display = "none";
                }
            }
        document.getElementById("type").onchange =
            function displayNamePlaceholder() {
                var typeSelect = document.getElementById("type");
                var val = typeSelect.options[typeSelect.selectedIndex].value;
                if (val == "lecture") {
                    document.getElementById('display_name').placeholder = "הרצאה 1";
                } else if (val == "tutorial") {
                    document.getElementById('display_name').placeholder = "תרגול 1";
                } else if (val == "workshop") {
                    document.getElementById('display_name').placeholder = "סדנה 1";
                } else if (val == "exercise") {
                    document.getElementById('display_name').placeholder = "תרגיל בית 1 שאלה 1";
                } else if (val == "exam") {
                    document.getElementById('display_name').placeholder = "מועד א' שאלה 1";
                } else {
                    document.getElementById('display_name').placeholder = "";
                }
            }
    </script>
{% endblock content %}
