{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        {% if is_existing_resource %}

        <p>
            {{ form.subject.label }}
            <br/>
            <select name="subject"
                    class="selectpicker"
                    multiple
                    data-style=""
                    data-style-base="form-control"
                    data-none-results-text="אין תוצאות עבור {0}"
                    data-live-search="true"
                    data-width="200px"
                    data-none-selected-text="נושאים"
                    data-select-all-text="בחר הכל"
                    data-deselect-all-text="איפוס">
                {% for subj in form.subject.choices %}
                    <option {% if form.subject.data and subj in form.subject.data %}selected{% endif %}>
                        {{ subj }}
                    </option>
                {% endfor %}
            </select>
            {% for error in form.subject.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        
        {% endif %}
        <p>
            {{ form.link.label }}
            <br/>
            {{ form.link(size=32) }}
            <br/>
            {% for error in form.link.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        <p>
            {{ form.solution.label }}
            <br/>
            {{ form.solution(size=32) }}
            <br/>
            {% for error in form.solution.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        <p>
            {{ form.recording.label }}
            <br/>
            {{ form.recording(size=32) }}
            <br/>
            {% for error in form.recording.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>

        {% if not is_existing_resource %}
        <p>
            {{ form.tab.label }}
            {{ form.tab() }}
        </p>
        <p>
            <span style="color:red">*</span> {{ form.header.label }} (למשל "שבוע 1", "מבחנים")
            <br/>
            {{ form.header(size=32) }}
            <br/>
            {% for error in form.header.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        <p>
            <span style="color:red">*</span> {{ form.rname.label }} (למשל "הרצאה 1", "מבחן חורף תשפ"א מועד ב")
            <br/>
            {{ form.rname(size=32) }}
            <br/>
            {% for error in form.rname.errors %}<span class="text-danger">[{{ error }}]</span>{% endfor %}
        </p>
        חלקים (למשל "שאלה 1")

        {{ form.rname_parts() }}
    {% endif %}


        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}
