{% extends "base.html" %}

{% block content %}
{% if current_user.username == 'yaniv' %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.link.label }}<br>
            {{ form.link(size=32) }}<br>
            {% for error in form.link.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.specification.label }}<br>
            {{ form.specification(size=32) }}<br>
            {% for error in form.specification.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.subject.label }}<br>
            {{ form.subject }}<br>
            {% for error in form.subject.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.textdump.label }}<br>
            {{ form.textdump(rows='10',cols='100')}}<br>
            {% for error in form.textdump.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {%endif%}
{% endblock %}