{% extends "base.html" %}
{% block content %}
    {% if current_user.username in admins %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {% if with_name %}
                <p>
                    {{ form.description.label }}
                    <br>
                    {{ form.description(size=32) }}
                    <br>
                    {% for error in form.description.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
                </p>
            {% endif %}
            <p>
                {{ form.link.label }}
                <br>
                {{ form.link(size=32) }}
                <br>
                {% for error in form.link.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
            </p>
            <p>
                {{ form.specification.label }}
                <br>
                {{ form.specification(size=32) }}
                <br>
                {% for error in form.specification.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
            </p>
            <p>
                {{ form.subject.label }}
                <br>
                <select name="subject"
                        class="selectpicker"
                        multiple
                        data-style=""
                        data-style-base="form-control"
                        data-none-results-text="אין תוצאות עבור {0}"
                        data-live-search="true"
                        data-width="200px"
                        data-none-selected-text="נושאים"
                        data-select-all-text="בחר הכל"
                        data-deselect-all-text="איפוס">
                    {% for opt in options %}
                        <option {% if form.subject.data and opt in form.subject.data %}selected{% endif %}>
                            {{ opt }}
                        </option>
                    {% endfor %}
                </select>
                {% for error in form.subject.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
            </p>
            <p>
                {{ form.textdump.label }}
                <br>
                {{ form.textdump(rows='10',cols='100')}}
                <br>
                {% for error in form.textdump.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
{% endblock %}
